In [2]:
import pandas as pd

In [3]:
df_1 = pd.read_csv('dataset/raw/veronika_all.csv', header=0, names=['ind', 'id', 'name', 'lat', 'lon', 'locality', 'region', 'neighbourhood'])
df_1 = df_1.drop(['ind'], axis=1)
df_1.head()

,id,name,lat,lon,locality,region,neighbourhood
0,50988380961,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
1,50988488177,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
2,50988380816,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
3,50988380741,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
4,50988487997,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku

In [4]:
df_2 = pd.read_csv('dataset/raw/ashish_1.csv', header=0, names=['id', 'lat', 'lon', 'name', 'locality', 'neighbourhood', 'region'])
df_2.head()

,id,lat,lon,name,locality,neighbourhood,region
0,49580341658,62.458197,25.933969,Talwiajo Winter rally 2020_2020_02_08_0253,Laukaa,Kuusa,Central Finland
1,49580836626,62.458197,25.933969,Talwiajo Winter rally 2020_2020_02_08_0251,Laukaa,Kuusa,Central Finland
2,49581064317,62.458002,25.934155,Talwiajo Winter rally 2020_2020_02_08_0062,Laukaa,Kuusa,Central Finland
3,49580832151,62.458002,25.934155,Talwiajo Winter rally 2020_2020_02_08_0060,Laukaa,Kuusa,Central Finland
4,49579613536,62.626369,27.122400,NaN,Suonenjoki,Suonenjoki,North Savo

In [5]:
df_3 = pd.read_csv('dataset/raw/ashish_2.csv', header=0, names=['id', 'lat', 'lon', 'name', 'locality', 'neighbourhood', 'region'])
df_3.head()

,id,lat,lon,name,locality,neighbourhood,region
0,50991878078,60.441099,26.851238,Deer on ice,Kotka,Takakylä,Kymenlaakso
1,50989281247,60.665744,27.130058,2021-02-28_04-48-01,Hamina,Metsäkylä,Kymenlaakso
2,50989169591,60.665744,27.130058,2021-02-28_04-47-16,Hamina,Metsäkylä,Kymenlaakso
3,50989272377,60.662061,27.126758,2021-02-28_04-45-37,Hamina,Metsäkylä,Kymenlaakso
4,50988447283,60.669961,27.171069,2021-02-28_04-42-07,Hamina,Parkonpuoli,Kymenlaakso

In [6]:
df_4 = pd.read_csv('dataset/raw/ashish_3.csv', header=0, names=['id', 'lat', 'lon', 'name', 'locality', 'neighbourhood', 'region'])
df_4.head()

,id,lat,lon,name,locality,neighbourhood,region
0,50942928438,66.543536,25.847751,041.365,Rovaniemi,Nivavaara,Lapland
1,50850068581,66.724228,26.741237,Arctic Lapland Rally 2021,Kemijärvi,Sammale,Lapland
2,50850161502,66.724160,26.741344,Arctic Lapland Rally 2021,Kemijärvi,Sammale,Lapland
3,50850063001,66.673054,26.548032,Arctic Lapland Rally 2021,Rovaniemi,Nampa,Lapland
4,50842727767,66.724220,26.741130,Arctic Lapland Rally 2021,Kemijärvi,Sammale,Lapland

In [7]:
df = pd.concat([df_1, df_2, df_3, df_4])

In [8]:
duplicateRowsDF = df[df.duplicated()]
len(duplicateRowsDF)

476

In [9]:
df = df.drop_duplicates(subset='id').reset_index(drop=True)
len(df)

76879

In [10]:
df.head()

,id,name,lat,lon,locality,region,neighbourhood
0,50988380961,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
1,50988488177,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
2,50988380816,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
3,50988380741,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku
4,50988487997,Late winter 2020-21,60.449969,22.265006,Turku,Finland Proper,Turku

In [11]:
df.to_csv('dataset/dataset.csv', index=False)